<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jot notes</title>
    <script src="jquery.js"></script>
    <script src="jot.js"></script>
    <link rel="stylesheet" href="jot.css">
</head>
<body>
    <h1>JOT notes</h1>
    <div id="control"></div>
    <div id="display"></div>
    <div id="notify"></div>
</body>
</html>
