<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jot notes</title>
    <script src="jquery.js"></script>
    <script src="jot.js"></script>
</head>
<body>
    <h1>JOT notes</h1>
    <%= @content %>
    <br>
    <a href="/">Index</a>
    <a href="/list">List Jots</a>
    <a href="/create">Create a Jot</a>
</body>
</html>
