<ul>
<% jots.each do |jot| %>
    <li>
        <%= jot['body'] %>
        <a href="#" 
        onclick="call({ method: 'delete', url: '/', data: {id:'<%= jot['id'] %>'}})"
        >[delete]</a>
    </li>
<% end %>
</ul>
